/*div {
  border: 1px solid red;
}*/

.blueText{
  color: blue;
}

.listWelcomeColumn{
  color: blue;
  /*margin: 25px auto auto auto;*/
  margin-top: 25px;
  margin-right: 8%;
  text-align: left;
  /*padding-right: 8%;*/
  float: left;
}

.boldText{
  font-weight: bold;
}

#WelcomeText{
  width: 50%;
  margin: 0;
}

.contentPanelHeading{
  color: black;
  font-weight: bold;
}

#ContentRow1 img:not(#img1){
  float: right;
}

#img1 {
  float: left;
  margin-right: 1%;
}
